<nav class="nav justify-content-left">
  <a class="nav-link active" routerLink=''>Home</a>
  <a class="nav-link active" routerLink='emp'>Employee</a>
  <a class="nav-link active" routerLink='switch'>Switch</a>
  <a class="nav-link active" routerLink='custom'>CustomDirective</a>
  <a class="nav-link active" [routerLink]="['route',1]">Route Parameter</a>
  <a class="nav-link active" routerLink='/customer'>CustomerModule</a>
  <a class="nav-link active" routerLink='/person'>Person Module</a>
  <a class="nav-link active" routerLink='/lazy'>Lazy Module</a>
  <a class="nav-link active" routerLink='home'>Home</a>
  <a class="nav-link active" routerLink='login'>Login</a>

</nav>
