<h2 style="color: darkblue;">Employee Component</h2>
<p style="font-weight: 800;">Built in Pipe</p>
Currency:{{56789|currency:'Rs.'}} <br/>
Percentage:{{0.566789|percent}}
Slice:{{months|slice :2:6}}<br/>
Date Pipe:{{todaydate|date:'d/M/y'}}<br/>
jsonValue:{{jsonvalue|json}}

    
    
<!-- <div *ngIf="showData"> --> -->
  
    <br/><br/>
   <h4 style="color: blueviolet;">Employee Details</h4>
   <input type="text" placeholder="search Here" [(ngModel)]="searchText">
<table class="table table-bordered">
 <thead>
     <tr>
         <th>Employee Id</th>
         <th>Employee Name </th>
         <th>Employee Location</th>
         <th>Gender</th>
         <th>IsEmployed</th>
         <th>Operation</th>
     </tr>
 </thead>
 
<tbody>
    <tr *ngFor="let employee of details|filter:searchText;trackBy:trackByEmployee">
        <td>{{employee.id}}</td>
         <td>{{employee.name|uppercase|assignInital:employee.Gender}}</td>
         <td>{{employee.location|titlecase}}</td>
         <td>{{employee.Gender}}</td>
         <td>{{employee.isActive?'YES':'NO'}}</td>
                 <td><a [routerLink]="['/emp/edit',employee.id]">Edit</a></td>
    </tr>
</tbody>
</table>
<input type="text" [(ngModel)]="empid">
<button type="button" (click)="redirect()">Go to router</button>
<!-- </div>
<!- <button class="btn btn-secondary" (click)="toggel()">{{btnname}}</button> -->
<nav class="nav justify-content-left">
  <a class="nav-link active" [routerLink]="['details',1]">Employee Details</a>
  <a class="nav-link" routerLink='add'>Add Employee</a>
  <a class="nav-link" [routerLink]="['edit',1]">Edit Employee</a>
</nav>
<router-outlet></router-outlet>
<!-- <button type="button" (click)="getQueryParamData()">Get Data</button>
Employee Id:{{ID}}
EmployeeName: {{Name}}
Location:{{Location}} -->



