<p>demo-parent works!</p>

<button type="button" (click)="increment()"> Add

</button>
<button type="button" (click)="decrement()">Subtract</button>

<app-demo-child></app-demo-child>
<h3>@viewChild Directive</h3>
<p appChangeColor>Welcome to ViewChild Demo
    Welcome to ViewChild Demo
    Welcome to ViewChild Demo
    Welcome to ViewChild Demo
    Welcome to ViewChild Demo
</p>

<input type="radio" name="rd" (click)="Changecolor('green')">Green
<input type="radio" name="rd" (click)="Changecolor('orange')">Orange
<input type="radio" name="rd" (click)="Changecolor('pink')">Pink